<button (click)="start()">start</button>
<div style="width: 100%; min-width: 500px; height: 700px; min-height: 700px;" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div>
    <!--game-page works! {{game | json}}-->
    <app-hand [cards]="game.opp"></app-hand>
    <app-hand [cards]="game.stock"></app-hand>
    <app-hand [cards]="game.discard"></app-hand>
    <app-hand [cards]="game.player"></app-hand>

  </div>

  <app-hidden-hand [size]="15"></app-hidden-hand>

  <div fxLayout fxLayoutAlign="space-around center">
    <app-discard-pile topFid="1♥" [size]="12"></app-discard-pile>
    <app-stockpile [size]="11"></app-stockpile>
  </div>

  <app-hand [cards]="DECK"></app-hand>
  <div>Your Hand</div>
</div>
